<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Edit <%= campsite.name %></h1>
        <div style="width:30%; margin:35px auto;">
            <!-- form for editing a campsite -->
            <form action="/campsites/<%= campsite._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="campsite[name]" value="<%= campsite.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campsite[image]" value="<%= campsite.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campsite[description]" value="<%= campsite.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campsites">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
