<% include ../partials/header %>

<h1><%= campsite.name %></h1>
<img src="<%= campsite.image %>" alt="Camp Site Image" />
<p>
    <%= campsite.description %>
</p>

<% campsite.comments.forEach(function(comment) { %>
    <p>
        <%= comment.author %> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer %>
